<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Kite+One" rel="stylesheet">
    <meta charset="utf-8" />
    <title>BookKeeper Login</title>
</head>
<body class="login">
    <header>
        <img src="~/Content/BookKeeperLogo_v1.JPG" style="width:10%;height:10%;">
        <span><b>Log in here:</b></span>
        <form action="/" method="post" class="login">
            <input type="text" name="name" placeholder="Username" value="" />
            <button type="submit"><b>Login</b></button>
        </form>
    </header>
</body>
</html>
