body {
  font-family: Verdana;
  background-color: white;

}
div {
  box-sizing: border-box;
  width: 380px;
  font-size: 36px;
  color: white;
  border-style: solid;
  border-width: 18px;
  border-color: #4285F4;

}

p {
  height: 130px;
  text-align: center;
  line-height: 130px;;
}

p:nth-child(1) {
  background-color: #E67676;
  margin: 0;
}
p:nth-child(2) {
  background-color: #F2F062;
  margin: 0;  
}
p:nth-child(3) {
  background-color: #A9E6E6;
  margin: 0;
}
p:nth-child(4) {
  background-color: #7692E4;
  margin: 0;    
}