<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Style.css" rel="stylesheet" />
    <meta charset="utf-8" />        
    <title>BookKeeper</title>
</head>
<body>
    <h1>Hello Partners ;)</h1>
    <table>       
    </table>
</body>
</html>