<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Item Listing</title>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <h1>Green Fox Fashion Web Store</h1>
    </header>
</body>
</html>
